
.container{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 2px;
}

.topheader ul{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

li{
    list-style-type: none;
}

li:last-child{
    width: 30px;
    text-align: center;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0px 10px 0px 0px;
}

li:last-child:hover{
background-color: red;
}

button{
    width: 100px;
    height: 40px;
    text-align: center;
    background: rgb(255, 255, 255);
    margin: 2px;
    border: 1px solid lightslategray;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{
    display: flex;
    align-items: center;
}

.buttons:nth-of-type(4) button{
    background-color: rgb(249, 249, 249);
}

.buttons button:last-child{
    background-color: rgb(249, 249, 249);
}

#equal{
    background-color: rgb(0, 103, 192);
    color: white;
}

.field p{
    text-align: right;
    font-size: 35px;
    margin: 0;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


